#s-113c5ee1-8004-48ac-b886-76844ddf1415 > #backgroundBox {
  position: absolute;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 740.0px;
  width: 100%;
  height: 100%;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_1 {
  box-shadow: none;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Panel_1 {
  width: 95.55555555555554%;
  height: 29.729729729729737%;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Panel_1 {
  box-shadow: none;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Rectangle_1 {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Rectangle_1 {
  box-shadow: none;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Rectangle_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/6bcb581e-9404-450e-850d-a00861cd7c38.jpg');
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Image_1 {
  position: absolute;
  width: 39.0px;
  height: 40.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Image_1 {
  box-shadow: none;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_2 {
  position: absolute;
  width: 318.6296386718749px;
  min-height: 305.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_2 {
  box-shadow: none;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Image_2 {
  position: absolute;
  width: 67.24478149414062px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Image_2 {
  box-shadow: none;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_3 {
  box-shadow: none;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_3 span {
  color: #777777;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #777777;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Image_3 {
  position: absolute;
  width: 89.86717224121091px;
  height: 86.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Image_3 {
  box-shadow: none;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Image_4 {
  position: absolute;
  width: 72.0px;
  height: 84.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Image_4 {
  box-shadow: none;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Image_5 {
  position: absolute;
  width: 46.428382873535156px;
  height: 43.25px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-113c5ee1-8004-48ac-b886-76844ddf1415 #s-Image_5 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-113c5ee1-8004-48ac-b886-76844ddf1415 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}