#s-5885874d-b7f1-4178-9b0c-2a1a1ac715b1 > #backgroundBox {
  position: absolute;
}
#s-5885874d-b7f1-4178-9b0c-2a1a1ac715b1 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 740.0px;
  width: 100%;
  height: 100%;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5885874d-b7f1-4178-9b0c-2a1a1ac715b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}