#s-5cbc8cf6-ed13-480c-ad92-ca95f380e186 > #backgroundBox {
  position: absolute;
}
#s-5cbc8cf6-ed13-480c-ad92-ca95f380e186 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 740.0px;
  width: 100%;
  height: 100%;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5cbc8cf6-ed13-480c-ad92-ca95f380e186 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}