#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 > #backgroundBox {
  position: absolute;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 740.0px;
  width: 100%;
  height: 100%;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_1 {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_1 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/f2a9374b-b74c-4d6b-8e3c-5f96f8913837.jpg');
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Panel_1 {
  width: 65.0px;
  height: 135.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Panel_1 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Ellipse_1 {
  width: 56.0px;
  height: 56.0px;
  min-height: 56.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Ellipse_1 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #2A56C6;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Ellipse_2 {
  width: 56.0px;
  height: 56.0px;
  min-height: 56.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Ellipse_2 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_1 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_1 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Ellipse_3 {
  width: 56.0px;
  height: 56.0px;
  min-height: 56.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Ellipse_3 {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Ellipse_4 {
  width: 56.0px;
  height: 56.0px;
  min-height: 56.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Ellipse_4 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #F3F3F3;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_2 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_2 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_3 {
  position: absolute;
  width: 32.0px;
  height: 32.0px;
  -webkit-transform: rotate(270.0deg);
  -moz-transform: rotate(270.0deg);
  transform: rotate(270.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_3 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_2 {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_2 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_4 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_4 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_5 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_5 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_6 {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_6 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_3 {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_3 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Paragraph_3 {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Paragraph_3 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_11 {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_11 {
  box-shadow: none;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_13 {
  position: absolute;
  width: 75.0px;
  height: 78.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 #s-Image_13 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-71585e66-51b6-4796-a6f4-f4ab3f5181d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}